@use "global" as *;

// ブログ一覧

.page-blog__inner.inner {
  margin-top: rem(80);
  @include mq(md) {
    max-width: rem(1024);
    padding: 0 rem(34);
    margin-top: rem(130);
  }

}

// トップページのmargin-topを上書き
.top-blog__items.page-blog__items {
  margin-top: 0;
}

// ブログ一覧のブログカードは背景色を変える
.top-blog__item.page-blog__item .blog-card {
  background-color: $color-accent-sub;
}

// ページネーション
