@use "global" as *;

// 新卒・中途採用エントリーフォーム

.page-entry {
  background-color: $color-accent-sub;
  padding-top: rem(33);
  padding-bottom: rem(57);
}

.page-entry__inner.inner {
  max-width: rem(880 + 48);//880+(24*2)=928
  margin: 0 auto;
}

.page-entry__breadcrumb {
  margin-top: rem(61);
  @include mq(md) {
    margin-top: rem(121);
  }
}

.page-entry__contents-wrapper {
  background-color: $white;
  padding: rem(20) rem(15);
  @include mq(md) {
    padding: rem(58) rem(71) rem(81) rem(71);
  }
}

.page-entry__heading-wrapper {
  @include mq(md) {
    text-align: center;
  }
}
.page-entry__heading {
  @include mq(md) {
    display: inline-block;
    text-align: center;
  }
}

.page-entry__title--en {
  font-family: $base-font-family;
  font-size: rem(18);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  text-align: center;
  @include mq(md) {
    font-size: rem(24);
  }
}

// 新卒・中途採用エントリーフォーム
.page-entry__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1.2;
  text-align: left;
  margin-top: rem(29);
  @include mq(md) {
    font-size: rem(32);
    line-height: 1;
  }
}

// 新卒・中途採用
.page-entry__title--color {
  color: $color-accent;
}

.page-entry__note {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  text-align: left;
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(51);
  }
}

.page-entry__title--entry-form {
  margin-top: rem(40);
  border-top: 1px solid $color-accent;
  @include mq(md) {
    margin-top: rem(95);
  }
}
