@use "global" as *;

.top-fv__inner {
  position: relative; // 子要素の絶対配置の基準
}

.top-fv__swiper {
  width: 100%;
  position: relative;
}

.top-fv__swiper::before {
  content: '';
  display: block;
  padding-top: calc(667 / 375 * 100%); // SP比率
  @include mq(md) {
    padding-top: calc(823 / 1440 * 100%); // PC比率
  }
}

.top-fv__swiper .swiper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-fv__swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.top-fv__swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover; // 縦横比を保ちながら領域を埋める
}

// 1枚目の画像だけを左に20%ずらす
.top-fv__slide--01 {
  object-position: 60% center; 
}


.top-fv__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // 上から開始
  
  // 上からの距離を調整
  padding-top: rem(415); // SP
  padding-bottom: rem(10);
  
  @include mq(md) {
    padding-top: rem(286); // PC
    padding-bottom: rem(38);
  }
}

.top-fv__title {
  font-family: $second-font-family;
  font-size: rem(48);
  color: $white;
  font-weight: $normal;
  line-height: 1.2;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 rem(12);
  @include mq(md) {
    font-size: rem(96);
    padding: 0 rem(66);
  }
}

.top-fv__subtitle {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  background-color: $black;
  padding: rem(9) rem(24) rem(9) rem(12);
  display: inline-block; // clip-pathが効くようにする
  clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  // ↑ 左上→右上→右下を20pxカット→左下
  margin-top: rem(18);
  @include mq(md) {
    font-size: rem(24);
    padding: rem(17) rem(66);
    clip-path: polygon(0 0, 100% 0, calc(100% - 40px) 100%, 0 100%);
    // PCでは切り込みを深く
    margin-top: rem(86);
  }
}

.top-fv__news-bar {
  width: calc(351 / 375 * 100%);
  margin: 0 auto;
  margin-top: rem(31);
  @include mq(md) {
    width: calc(1263 / 1440 * 100%);
    margin-top: rem(63);
    margin-left: rem(71);
  }
}

