@use "global" as *;

.top-fv {

}

.top-fv__inner {
  position: relative; // contentの基準になる
}

.top-fv__swiper {
  width: 100%;
  height: 100vh; // FVは画面いっぱいに
  overflow: hidden;
  // aspect-ratio: 375 / 667;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; // 背景にまわす
  // @include mq(md) {
  //   aspect-ratio: 1440 / 823;
  // }
}

// aspect-ratioを使うとSafariで表示されないため、beforeを使う
.top-fv__swiper::before {
  content: '';
  display: block;
  padding-top: 177.87%; // 375/667 = 0.5621... → 177.87%
  @include mq(md) {
    padding-top: 57.15%; // 823/1440 = 0.5715... → 57.15%
  }
}

.swiper.top-fv__swiper {
  width: 100%;
  height: 100%;
}

.top-fv__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 1枚目の画像だけを左に20%ずらす
.top-fv__slide--01 {
  object-position: 60% center; 
}

.top-fv__content {
  width: 100%;
  padding-top: rem(415);
  padding-bottom: rem(10);
  position: relative; //swiperより上に表示
  z-index: 2; //swiperより上に表示
  @include mq(md) {
  padding-top: rem(286);
  padding-bottom: rem(38);
  }
}

.top-fv__title {
  font-family: $second-font-family;
  font-size: rem(48);
  color: $white;
  font-weight: $normal;
  line-height: 1.2;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0 rem(12);
  @include mq(md) {
    font-size: rem(96);
    padding: 0 rem(66);
  }
}

.top-fv__subtitle {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(12);
  color: $white;
  font-weight: $bold;
  line-height: 1;
  background-color: $black;
  padding: rem(9) rem(24) rem(9) rem(12);
  display: inline-block; // clip-pathが効くようにする
  clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
  // ↑ 左上→右上→右下を20pxカット→左下
  margin-top: rem(18);
  @include mq(md) {
    font-size: rem(24);
    padding: rem(17) rem(66);
    clip-path: polygon(0 0, 100% 0, calc(100% - 40px) 100%, 0 100%);
    // PCでは切り込みを深く
    margin-top: rem(86);
  }
}

.top-fv__news-bar {
  width: calc(351 / 375 * 100%);
  margin: 0 auto;
  margin-top: rem(31);
  @include mq(md) {
    width: calc(1263 / 1440 * 100%);
    margin-top: rem(63);
    margin-left: rem(71);
  }
}

