@use "global" as *;

.blog-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(9);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(23) rem(52);
    align-items: stretch; // カードの高さを揃える
  }
}