@use "global" as *;

// ブログ記事の幅
.blog-article__inner.inner {
  max-width: rem(800 + 32);
  margin-right: auto;
  margin-left: auto;
  padding: 0 rem(16);
}

// ブログ記事の白背景部分
.blog-article__contents-wrapper {
  background-color: $white;
  padding: rem(40) rem(16);
  border-radius: rem(10);
  @include mq(md) {
    padding: rem(41) rem(40) rem(23) rem(40);
  }
}

// 日付
.blog-article__date {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $black;
  font-weight: $normal;
  line-height: 1;
  margin-left: rem(19);
  @include mq(md) {
    font-size: rem(14);
  }
}

// タイトル
.blog-article__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(16);
  @include mq(md) {
    font-size: rem(32);
    margin-top: rem(25);
  }
}

.blog-article__image {
  width: 100%;
  aspect-ratio: 4/3;
  margin-top: rem(20);
  @include mq(md) {
    aspect-ratio: 720/411;
    margin-top: rem(43);
  }
}

.blog-article__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 記事の部分
.blog-article__contents {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(43);
  }
}

// 記事内のタイトル
.blog-article__contents h2 {
  font-family: $base-font-family;
  font-size: rem(18);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(16);
  @include mq(md) {
    font-size: rem(24);
    margin-top: rem(23);
  }
}

// 記事本文のテキスト
.blog-article__contents p {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.8;
}

.blog-article__contents p:not(:first-child) {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(50);
  }
}

// コンテンツの中のリスト
// カンプが、ulで一つのブロックになっているので、line-height: 1.8; で、ulにスタイリングした
.blog-article__contents ul {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.8;
  margin-top: rem(20);
  list-style: none; // デフォルトのマーカーを削除
  padding-left: 0; // パディングをリセット
  @include mq(md) {
    margin-top: rem(50);
  }
}

// リストアイテムにカスタムマーカーを追加
.blog-article__contents li {
  position: relative;
  // margin-left: rem(16); // マーカーのための余白
  padding-left: rem(16);
}

.blog-article__contents li::before {
  content: "•";
  position: absolute;
  left: rem(8);
  top: 50%;
  transform: translateY(-50%);
  font-size: rem(10); // 小さなマーカー
  color: $black;
  line-height: 1.8; // テキストの行間と合わせる
}