@use "global" as *;

.cta {
  background-color: $color-accent-sub;
  margin-top: rem(139);
}

.cta__inner {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw); // 左端まで広げる
  margin-right: calc(50% - 50vw); // 右端まで広げる
  padding-bottom: rem(118);
  @include mq(md) {
    padding-bottom: 0;
  }
}

.cta__image {
  position: relative;
  width: 100%; // 幅を明示的に指定
  height: auto; // 高さを自動に
  aspect-ratio: 375 / 250; // SP比率
  @include mq(md) {
    aspect-ratio: 1440 / 488; // PC比率
  }
}

// 比率管理（＊SafariとFirefoxで画像が表示されないのでaspect-ratioを使用に変更した）
// .cta__image::before {
//   content: "";
//   display: block;
//   padding-top: calc(250 / 375 * 100%);
//   @include mq(md) {
//     padding-top: calc(488 / 1440 * 100%);
//   }
// }

.cta__image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  object-fit: cover;
}

.cta__box {
  width: 100%;
  max-width: rem(343);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); // 横方向の中央寄せ
  @include mq(md) {
    width: 66.388%;//956/1440
    max-width: rem(956);
    bottom: rem(-136);
  }
}

// ボタンサイズ違い
.entry-box__button.button.button--entry.cta__button {
  width: rem(200);
  padding: rem(20) 0;
  @include mq(md) {
    width: rem(556);
    padding: rem(27) 0;
  }
}