@use "global" as *;

.footer {
  @include mq(md) {
    padding-bottom: rem(62);
  }
}

.footer__inner {
  background-color: $color-accent-sub; // PCでは中身部分だけ背景色
  padding-top: rem(51);//SPの時は、ctaの白ブロックの下からの高さに合わせる
  padding-bottom: rem(24);
  @include mq(md) {
    width: 91.111%; //1312/1440
    margin: 0 auto;
    padding-top: rem(196);
    padding-bottom: rem(69);
    border-radius: 0 0 rem(20) rem(20);
  }
}

// logo-wrapperとnav-wrapper
.footer__contents-wrapper {
  @include mq(md) {
    width: calc(956 / 1312 *100%);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;   // ← 高さを揃える
    gap: rem(109);
  }
}

.footer__nav-wrapper {
  @include mq(md) {
    padding-top: rem(25);
  }
}

.footer__sns {
  margin-top: rem(55);
  @include mq(md) {
    margin-top: rem(61);
  }
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin: 0 auto;
  margin-top: rem(29);
  @include mq(md) {
    margin-top: 0;
  }
}

.footer__copyright {
  text-align: center;
  margin-top: rem(49);
  @include mq(md) {
    text-align: left;
    margin-top: auto;
  }
}

