@use "global" as *;

// スタッフインタビューの中の「業務内容」のリスト
.job-detail__title {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1.8;
}

// 二つ目以外のタイトルにmargin-top
// .job-detail:not(:first-child) .job-detail__title {
//   margin-top: rem(20);//要確認　カンプから数値を読み取れず
//   @include mq(md) {
//     margin-top: rem(40);//要確認　カンプから数値を読み取れず
//   }
// }

.job-detail__text {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.8;
}

