@use "global" as *;

// 募集要項


.job-item__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  @include mq(md) {
    font-size: rem(32);
  }
}

.job-item__details {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(114);
  }
}

.job-item__row {
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: start;
  justify-content: flex-start;
  gap: rem(8);
  border-bottom: 1px dotted $black;
  padding: rem(36) 0;
  @include mq(md) {
    grid-template-columns: 21.753% 1fr;//253-gap20/1024→ピクパでズレたので、21.753%に修正
    gap: rem(20);
  }
}

// 最初のアイテムはpadding-topなし
.job-item__row:first-child {
  padding-top: 0;
}

// 募集要項のタイトル
.job-item__term {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1;
}

// 募集要項の内容
.job-item__desc {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  @include mq(md) {
    line-height: 1;
  }
}

