@use "global" as *;

.news-bar {

  display: flex;
  border: 1px solid $black;
  border-radius: rem(50);
  @include mq(md) {
    // max-width: rem(1263);
  }
}

.news-bar__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $black;
  padding: rem(19) rem(12);
  border-radius: rem(50) 0 0 rem(50);
  @include mq(md) {
    padding: rem(19) rem(59) rem(19) rem(60);
  }
}

.news-bar__label p {
  font-family: $second-font-family;
  font-size: rem(10);
  color: $white;
  font-weight: $normal;
  line-height: 1;
  @include mq(md) {
    font-size: rem(24);
  }
}

.news-bar__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
  padding: rem(10);
  background-color: $white;
  border-radius: 0 rem(50) rem(50) 0;
  @include mq(md) {
    padding: rem(23) rem(47) rem(23) rem(90);
  }
}

.news-bar__body p {
  font-family: $base-font-family;
  font-size: rem(12);
  color: $black;
  font-weight: $normal;
  line-height: 1.2;
  flex-basis: 0; //view moreが折り返されないように
  flex-grow: 1;  
  @include mq(md) {
    font-size: rem(16);
  }
}

// VIEW MOREボタン
.news-bar__link {
  display: none;
  @include mq(md) {
    display: block;
    font-family: $second-font-family;
    font-size: rem(14);
    color: $black;
    font-weight: $normal;
    line-height: 1;
    position: relative;
    padding-right: rem(16);
    transition: color 0.3s ease;
  }
}

.news-bar__link:hover {
  color: $color-accent;
}

// 右矢印(黒)
.news-bar__link:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(10);
  height: rem(10);
  background-image: url("../images/common/arrow-right-black.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
