@use "global" as *;

// 私達がたいせつにしていること

.our-value__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  text-align: center;
  @include mq(md) {
    font-size: rem(32);
  }
}

.our-value__items {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(21);
  margin-top: rem(40);
  @include mq(md) {
    max-width: rem(980);
    gap: rem(35);
    margin-top: rem(86);
    margin-right: auto;
    margin-left: auto;
  }
}

.our-value__item {
  background-color: $color-accent-sub;
  border-radius: rem(10);
  padding: rem(20) rem(15);
  @include mq(md) {
    padding: rem(30) rem(80);
  }
}

.our-value__heading {
  display: grid;
  grid-template-columns: rem(32) 1fr;
  align-items: center;
  gap: rem(10);
  @include mq(md) {
    grid-template-columns: rem(48) 1fr;
    gap: rem(21);
  }
}

.our-value__number {
  width: rem(32);
  height: rem(32);
  border: 1px solid $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    width: rem(48);
    height: rem(48);
  }
}

.our-value__subtitle {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $bold;
  line-height: 1.2;
  @include mq(md) {
    font-size: rem(20);
    line-height: 1;
  }
}

.our-value__body p {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(21);
  }
}

