@use "global" as *;

.recruitment-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(19);
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(21) rem(16);
  }
}

// 3つ目のアイテムだけ横2列分に広げる
.recruitment-links .top-recruitment__item:nth-child(3) {
  @include mq(md) {
    grid-column: span 2;
  }
}