@use "global" as *;

// スタッフ紹介ページだけFVが他と異なる

// 下層ページ共通のpage-fvのz-index:-1;を打ち消し
// ＊要素よりfvが前に来ていて要素を選択できなかった
.page-fv.staff-details-fv {
  position: relative;
  z-index: 3;
  background-image: none;// staff-detailsのページはFV背景画像なし
  background-color: $color-accent-sub;
}

// スタッフ詳細ページのFVのpaddingを上書き
.staff-details-fv__inner.page-fv__inner.inner {
  padding:  0 rem(24);
}

.staff-details-fv__contents-wrapper {
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(40);
  padding: rem(43) 0;
  @include mq(md) {
    max-width: 100%;
    grid-template-columns: 1fr rem(286);
    gap: rem(85);
  }
}

.staff-details-fv__body {
  margin-top: rem(34);
}

// スタッフの写真
.staff-details-fv__image {
  width: rem(286);
  margin: 0 auto;
  aspect-ratio: 286/368;
}

.staff-details-fv__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// staff-cardと同じタイトル
.staff-details-fv__title {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  background-color: $white;
  padding: rem(3) rem(10);
  @include mq(md) {
    font-size: rem(36);
  }
}

// staff-cardと同じサブタイトル
.staff-details-fv__sub-title {
  display: inline-block;
  font-family: $base-font-family;
  font-size: rem(18);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  background-color: $white;
  padding: rem(3) rem(10);
  margin-top: rem(18);
  @include mq(md) {
    font-size: rem(24);
  }
}

.staff-details-fv__position {
  font-family: $base-font-family;
  font-size: rem(14);
  color: $color-accent;
  font-weight: $bold;
  line-height: 1;
  margin-top: rem(30);
}

.staff-details-fv__name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(20);
  margin-top: rem(12);
}

.staff-details-fv__name {
  font-family: $base-font-family;
  font-size: rem(18);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  @include mq(md) {
    font-size: rem(24);
  }
}

.staff-details-fv__year {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1;
}

.staff-details-fv__profile {
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.8;
  margin-top: rem(13);
}



