@use "global" as *;

.staff-interview__section:not(:first-child) {
  margin-top: rem(23);
}

.staff-interview__title {
  font-family: $base-font-family;
  font-size: rem(20);
  color: $black;
  font-weight: $bold;
  line-height: 1;
  position: relative;
  @include mq(md) {
    font-size: rem(24);
  }
}

// タイトルから左に伸びている黒い線
.staff-interview__title:before {
  content: "";
  position: absolute;
  left: calc(rem(-216) - rem(16)); // inner をはみ出して左端に線をくっつける
  top: 50%;
  transform: translateY(-50%); // タイトル中央に揃える
  width: rem(216);
  height: 1px; // 線の太さ（デザインに合わせて調整）
  background-color: $black;
}

// ひとつめ以外のタイトルにmargin-top
.staff-interview__section:not(:first-child) .staff-interview__title {
  margin-top: rem(23);
}

.staff-interview__text {
  max-width: rem(696);
  font-family: $base-font-family;
  font-size: rem(16);
  color: $black;
  font-weight: $normal;
  line-height: 1.8;
  margin-top: rem(50);
}

.staff-interview__job-details {
  margin-top: rem(23);
}

.staff-interview__items {
  // margin-top: rem(23);
}
